<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}bigbench.log}"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="io.cockroachdb.bigbench" level="DEBUG"/>

    <springProfile name="verbose">
        <logger name="io.cockroachdb.bigbench.SQL_TRACE" level="TRACE" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

    <springProfile name="!verbose">
        <logger name="io.cockroachdb.bigbench.SQL_TRACE" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>

